# Dépendances
node_modules
npm-debug.log
yarn-error.log

# Environment
.env
.env.*
!.env.example

# Build
dist

# Logs
*.log
logs

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Git
.git
.gitignore

# Documentation
*.md
!README.md

# Tests
coverage
.nyc_output

# Nixpacks (pas besoin avec Docker)
.nixpacks
